@import "fonts";
@import "colors";
@import "buttons";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0.5rem;
}
body {
  background: $gray-dark;
  font-family: "lora-regular", serif;
  font-size: 1.7rem;
  line-height: 3rem;
  color: $white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "poppins-semibold", sans-serif;
	color: $white;
	font-style: normal;
	text-rendering: optimizeLegibility;
	margin-bottom: 2.1rem;
}