@import "colors";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  text-align: center;
}

.social-links {
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    list-style: none;
    padding: 2rem;
    font-size: 2rem;
  }
}

.subtitle {
  color: $red;
  font-size: 2rem;
  margin: 0;
}

.title {
  font-size: 4rem;
  margin: 0;
  line-height: 5rem;
}

.personal-details {
  margin: 2rem 0;
  p {
    margin: 0;
    padding: 0;
  }
}

#resume-button {
  display: block;
  margin: 2rem 0;
}
