<section class="container">
  <div class="overlay"></div>

  <div class="intro-content">
    <h2 class="subtitle">Hello, World.</h2>
    <h1 class="title">I'm Lahiru.</h1>

    <div class="personal-details">
      <p>Full-stack engineer</p>
      <p>DevOps enthusiast</p>
      <p>Humans + Tech = <fa-icon class="red" [icon]="faHeart"></fa-icon></p>
    </div>

    <a class="button" id="resume-button" target="_blank" href="/assets/resume.pdf" title="">Download Resume</a>
  </div>
  

  <ul class="social-links">
    <li>
      <a target="_blank" href="https://www.linkedin.com/in/ltmudalige/">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/lahmud">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://medium.com/@LTMudalige">
        <fa-icon [icon]="faMedium"></fa-icon>
      </a>
    </li>
  </ul>
  
</section>
