<section id="container">
  <div class="overlay"></div>

  <div class="intro-content">
    <h5>Hello, World.</h5>
    <h1>I'm Lahiru.</h1>

    <p class="intro-position">
      <span>Full-stack engineer</span>
      <span>DevOps enthusiast</span>
      <span>Humans + Tech = <3</span>
    </p>

    <a class="button" href="#" title="">Download Resume</a>
  </div>
  <!-- /intro-content -->

  <ul class="social-links">
    <li>
      <a href="#">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#">
        <fa-icon [icon]="faGithub"></fa-icon>
      </a>
    </li>
    <li>
      <a href="#">
        <fa-icon [icon]="faMedium"></fa-icon>
      </a>
    </li>
  </ul>
  <!-- /intro-social -->
</section>
